.searchBoxContainer {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
}

.searchBox {
  width: 241px;
  height: 38px;
  font-size: var(--font-size);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  padding: 6px 12px;
  margin-right: 8px;
}

.searchBox:focus {
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

.shortcutBox {
  font-size: 12px;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 2px;
  height: 24px;
  padding: 4px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 210px;
}
